<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask lapa</title>
</head>
<body>
    <section>
        <h1>Flask</h1>
        <article>
            <p>Šī ir Flask lapa</p>
        </article>
    </section>
    <a href="/iepriekseja">Iepriekšējā lapa</a>
    <a href="/nakama">Nākamā lapa</a>
    <a href="/receptes">Recepšu lapa</a>
</body>
</html>