<!DOCTYPE html>
<html lang="lv">
<head>
    <link rel="stylesheet" href="css/stili.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptes</title>
</head>
<body>
    <table id="nav 2">
        <td><a href="/">Sākums</a></td>
        <td><a href="/vafeles">kabaču - siera vafeles</a></td>
        <td><a href="/vrapi">Ātrie dārzeņu vrapi ar humosu un sieru</a></td>
    </table>
    <h1>Recepšu grāmata</h1>
    <p>Vislabākās receptes no interneta dzīlēm</p>
</body>
</html>