<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kabaču - siera vafeles</title>
</head>
<body>
    <table id="nav 2">
        <td><a href="/">Sākums</a></td>
        <td><a href="/receptes">Receptes</a></td>
        <td><a href="/vafeles">kabaču - siera vafeles</a></td>
        <td><a href="/vrapi">Ātrie dārzeņu vrapi ar humosu un sieru</a></td>
    </table>
    <h1>Kabaču - siera vafeles</h1>
    <img src="../attēli/kabacu_siera_vafeles.jpg" alt="attēls ar pagatavotajām vafelēm">
    <p>Ideāla recepte rudens ražas laikā, kad nezini, ko darīt ar omītes sadotajiem kabačiem! Vienkārši pagatavojamas vafeles, turklāt nepieciešamas tikai dažas sastāvdaļas</p>
    <p>Pagatavošaiani nepieciešamais laiks - <i>30 minūtes</i></p>
    <h2>Sastāvdaļas</h2>
    <ul class="sastavs"> 
        <li>300 grami <b>kabacis</b></li>
        <li>100 grami <b>siers</b></li>
        <li>1 gb <b>ola</b></li>
        <li>1 tēkarote <b>cepamais pulveris</b></li>
        <li>1 ēdamkarote <b>skābais krējums</b></li>
        <li>120 grami <b>milti</b></li>
        <li>Šķipsniņa <b>sāls</b></li>
    </ul>
    <h2>Pagatavošana</h2>
    <ol>
        <li>Sarīvē kabaci un izspiež no tā šķidrumu;</li>
        <li>Sarīvē sieru un pievieno pie rīvētā kabača;</li>
        <li>Pievieno klāt olu, krējumu, cepamo pulveri un sāli pēc garšas. Visu kārtīgi izmaisa;</li>
        <li>Pievieno klāt olu, krējumu, cepamo pulveri un sāli pēc garšas. Visu kārtīgi izmaisa;</li>
        <li>Cep vafeles</li>
    </ol>
    <h3>Atsauces:</h3>
    <p>Recepte ņemta no <a href="https://receptes.tvnet.lv/recepte/23186-kabacu-siera-vafeles">tvnet recepšu klāsta</p>

</body>
</html>