<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ātrie dārzeņu vrapi ar humosu un sieru</title>
</head>
<body>
    <table id="nav 2">
        <td><a href="/">Sākums</a></td>
        <td><a href="/receptes">Receptes</a></td>
        <td><a href="/vafeles">kabaču - siera vafeles</a></td>
        <td><a href="/vrapi">Ātrie dārzeņu vrapi ar humosu un sieru</a></td>
    </table>
    <h1>Ātrie dārzeņu vrapi ar humosu un sieru</h1>
    <img src="../attēli/tortiljas.jpg" alt="attēls ar pagatavotajām tortiljām">
    <p>Šie veģetārie vrapi ir ne vien veselīgi, bet arī supergardi un vienkārši pagatavojami. Lieliska izvēle pēc aizņemtas daba dienas, kad nogurums gāž no kājām un maltītes gatavošanai negribas veltīt vairāk kā 15 minūtes. Turklāt atkarībā no izmantotā siera un humusa veida, bez pūlēm varēsi piešķirt vrapiem jaunas garšu nianses</p>
    <p>Pagatavošanai nepieciešamais laiks - <i>receptē nav norādīts</i></p>
    <h2>Sastāvdaļas</h2>
    <ul class="sastavs"> 
        <li>2 gb <b>tortiljas</b></li>
        <li>2 ēdamkarotes <b>“Rūdolfs” humosa ar zaļumiem</b></li>
        <li>2 ēdamkarotes <b>“Rūdolfs” humosa ar čili un papriku</b></li>
        <li>1 mazs <b>cukīni</b></li>
        <li>1 gb <b>tomāts</b>, sagriezts plānās šķēlēs</li>
        <li>1 gb <b>sīpols</b>, sagriezts plānās šķēlēs</li>
        <li>2 gb <b>keila lapas</b></li>
        <li>30 grami <b>čedaras siers</b>, sarīvēts</li>
        <li>1 puse <b>mocarellas siera bumba</b>, sagriezta šķēlēs</li>
        <li><b>sāls, pipari</b> pēc gršas</li>
    </ul>
    <h2>Pagatavošana</h2>
    <ol>
        <li>Uzkarsē grilu vai grilpannu līdz vidējai temperatūrai;</li>
        <li>Cukini nogriež galiņus, gareniski sagriež cukīni strēmelītēs, liek olīveļļā, pārkaisa ar sāli un pipariem;</li>
        <li>Liek cukīni šķēles uz apcep pāris minūtes no katras puses, tad noņem;</li>
        <li>Vienu tortilju pārziež ar zaļumu humosu, pārkaisa ar Čedaras sieru, virsū liek pāris cukīni šķēles, keila lapu, sīpolu un tomātu šķēles;</li>
        <li>Otru tortilju pārziež ar čili un paprikas humosu, virsū liek mocarellas šķēles, pāris cukīni šķēles, keila lapu, sīpolu un tomātu šķēles;</li>
        <li>Tortiljas cieši sarullē, aizlokot apakšmalu, lai pildījums nekristu ārā;</li>
        <li>Sagatavotās tortiljas liek uz grila un karsē minūti no katras puses, līdz uz tām ir redzams grila restīšu nospiedums un siers ir izkusis.</li>
    </ol>
    <h3>Atsauces:</h3>
    <p>Recepte ņemta no <a href="https://receptes.tvnet.lv/recepte/23145-atrie-darzenu-vrapi-ar-humosu-un-sieru">tvnet recepšu klāsta</p>

</body>
</html>